app/jni/SDL/include
app/jni/SDL/src
.gradle
app/build
app/.externalNativeBuild
.vscode/settings.json
app/.cxx
local.properties
.idea/gradle.xml
.idea/migrations.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
